# 1. List Comprehensions

You are given three integers x,y and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n.

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    print([[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if ((i+j+k)!= n)])

5
4
6
2
[[0, 0, 0], [0, 0, 1], [0, 0, 3], [0, 0, 4], [0, 0, 5], [0, 0, 6], [0, 1, 0], [0, 1, 2], [0, 1, 3], [0, 1, 4], [0, 1, 5], [0, 1, 6], [0, 2, 1], [0, 2, 2], [0, 2, 3], [0, 2, 4], [0, 2, 5], [0, 2, 6], [0, 3, 0], [0, 3, 1], [0, 3, 2], [0, 3, 3], [0, 3, 4], [0, 3, 5], [0, 3, 6], [0, 4, 0], [0, 4, 1], [0, 4, 2], [0, 4, 3], [0, 4, 4], [0, 4, 5], [0, 4, 6], [1, 0, 0], [1, 0, 2], [1, 0, 3], [1, 0, 4], [1, 0, 5], [1, 0, 6], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 1, 4], [1, 1, 5], [1, 1, 6], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 2, 4], [1, 2, 5], [1, 2, 6], [1, 3, 0], [1, 3, 1], [1, 3, 2], [1, 3, 3], [1, 3, 4], [1, 3, 5], [1, 3, 6], [1, 4, 0], [1, 4, 1], [1, 4, 2], [1, 4, 3], [1, 4, 4], [1, 4, 5], [1, 4, 6], [2, 0, 1], [2, 0, 2], [2, 0, 3], [2, 0, 4], [2, 0, 5], [2, 0, 6], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 1, 4], [2, 1, 5], [2, 1, 6], [2, 2, 0], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 2, 4], [2, 2, 5], [2, 2, 6], [2, 3, 0], [2, 3, 1], [2, 3, 2], [2, 3, 3], [2, 3, 4], [2, 3, 5], [2, 3, 6], [2, 4, 0], [2, 4, 1], [2, 4, 2], [2, 4, 3], [2, 4, 4], [2, 4, 5], [2, 4, 6], [3, 0, 0], [3, 0, 1], [3, 0, 2], [3, 0, 3], [3, 0, 4], [3, 0, 5], [3, 0, 6], [3, 1, 0], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 1, 4], [3, 1, 5], [3, 1, 6], [3, 2, 0], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 2, 4], [3, 2, 5], [3, 2, 6], [3, 3, 0], [3, 3, 1], [3, 3, 2], [3, 3, 3], [3, 3, 4], [3, 3, 5], [3, 3, 6], [3, 4, 0], [3, 4, 1], [3, 4, 2], [3, 4, 3], [3, 4, 4], [3, 4, 5], [3, 4, 6], [4, 0, 0], [4, 0, 1], [4, 0, 2], [4, 0, 3], [4, 0, 4], [4, 0, 5], [4, 0, 6], [4, 1, 0], [4, 1, 1], [4, 1, 2], [4, 1, 3], [4, 1, 4], [4, 1, 5], [4, 1, 6], [4, 2, 0], [4, 2, 1], [4, 2, 2], [4, 2, 3], [4, 2, 4], [4, 2, 5], [4, 2, 6], [4, 3, 0], [4, 3, 1], [4, 3, 2], [4, 3, 3], [4, 3, 4], [4, 3, 5], [4, 3, 6], [4, 4, 0], [4, 4, 1], [4, 4, 2], [4, 4, 3], [4, 4, 4], [4, 4, 5], [4, 4, 6], [5, 0, 0], [5, 0, 1], [5, 0, 2], [5, 0, 3], [5, 0, 4], [5, 0, 5], [5, 0, 6], [5, 1, 0], [5, 1, 1], [5, 1, 2], [5, 1, 3], [5, 1, 4], [5, 1, 5], [5, 1, 6], [5, 2, 0], [5, 2, 1], [5, 2, 2], [5, 2, 3], [5, 2, 4], [5, 2, 5], [5, 2, 6], [5, 3, 0], [5, 3, 1], [5, 3, 2], [5, 3, 3], [5, 3, 4], [5, 3, 5], [5, 3, 6], [5, 4, 0], [5, 4, 1], [5, 4, 2], [5, 4, 3], [5, 4, 4], [5, 4, 5], [5, 4, 6]]

#2. Find the Runner-Up Score!

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [2]:
if __name__ == '__main__':
    n = int(input())
    arr = list(set(map(int, input().split())))
    num = sorted(arr)
    print(num[-2])

4
20 30 50 80
50

#3.Nested Lists

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [3]:
if __name__ == '__main__':
    stds = []
    grades = set()
    names = []
    for i in range(int(input())):
        name = input()
        score = float(input())
        stds.append([name,score])
        grades.add(score)
        
    grades = sorted(grades)
    for name, score in stds:
        if score == grades[1]:
            names.append(name)

    for name in sorted(names):
        print(name, end='\n')

5
Harry
42
Berry
52
Tina
45
Harsh
80
Ash
60
Tina

#4. Finding the percentage

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [4]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    if query_name in student_marks:
        avg = (student_marks[query_name][0]+student_marks[query_name][1]+student_marks[query_name][2])/3
        print("%.2f"%avg)

2
Tina 25 50 80
Ash 60 40 35
Ash
45.00

#5.Lists

Consider a list (list = []). You can perform the following commands:

1. insert i e: Insert integer  at position .
2. print: Print the list.
3. remove e: Delete the first occurrence of integer .
4. append e: Insert integer  at the end of the list.
5. sort: Sort the list.
6. pop: Pop the last element from the list.
7. reverse: Reverse the list.

Initialize your list and read in the value of n followed by n lines of commands where each command will be of the 7 types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [5]:
if __name__ == '__main__':
    N = int(input())
    lst = []
    for i in range(N):
        df = input().split()
        if df[0] == "insert":
            lst.insert(int(df[1]), int(df[2]))
        elif df[0] == "remove" :
            lst.remove(int(df[1]))
        elif df[0] == "append":
            lst.append(int(df[1]))
        elif df[0] == "sort":
            lst.sort()
        elif df[0] == "pop":
            lst.pop()
        elif df[0] == "reverse":
            lst.reverse()
        else :
            print(lst)
p

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

#6. Tuples

Given an integer, n, and n space-separated integers as input, create a tuple,t , of those n integers. Then compute and print the result of hash(t).

In [9]:
if __name__ == '__main__':
    n = int(input())
    integer_list = list(map(int, input().split()))
    
    for i in range(n):
        integer_list[i] = int(integer_list[i])
        tup = tuple(integer_list)
    print(hash(tup))

2
1 2
3713081631934410656

#7. Introduction to Sets

A set is an unordered collection of elements without duplicate entries.
When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.
Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

In [11]:
def average(array):
    
    num = set(array)
    avg = float((sum(num)/len(num)))
    return avg

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

6
161 168 155 150 155 168
158.5

#8. No Idea!

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i = A, you add 1 to your happiness. If i = B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

In [12]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n,m = input().split(" ")
num = input().split(" ")
A = set(input().split(" "))
B = set(input().split(" "))

happiness = 0

for i in num :
    
    if i in A :
        happiness += 1
    
    elif i in B :
        happiness -= 1
    
    else :
        happiness = happiness
    
print(happiness)

3 2
1 5 3
3 1
5 1
1

#9. Symmetric Difference

Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

In [13]:
m = int(input())
num = input()
n = int(input())
num1 = input()
lst = set(num.split(" "))
lst1 = set(num1.split(" "))

sets = (lst.difference(lst1))
sets1 =  (lst1.difference(lst))
arr = sorted(sets.union(sets1),key= int)
print('\n'.join(arr))

4
1 5 8 6
4
1 8 4 9
4
5
6
9

#10. Set .discard(), .remove() & .pop()

You have a non-empty set s, and you have to execute N commands given in N lines.

The commands will be pop, remove and discard.

In [15]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())
for i in range(N):
    comd =input().split()
    if comd[0]=="pop" :
        s.pop()
    elif comd[0]=="remove" :
        s.remove(int(comd[1]))
    else  :
        s.discard(int(comd[1]))
        
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 7
remove 8
pop
discard 6
remove 5
pop
discard 5
4

#11. Set .union() Operation

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

In [16]:
n = int(input()) # Students subscribed English newspaper 
n_roll = set(input().split())
b = int(input()) # Students subscribed French newspaper
b_roll = set(input().split())

print(len(n_roll.union(b_roll)))

9
1 2 3 4 5 6 7 8 9
9
10 15 12 11 8 6 5 9 4
13

#12. Set .intersection() Operation

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

In [17]:
n= int(input())
n_roll = set(input().split())
b= int(input())
b_roll = set(input().split())

print(len(n_roll.intersection(b_roll)))

9
1 2 3 4 5 6 7 8 9
9
10 12 11 8 4 9 5 20 25
4

#13. Set .difference() Operation

Students of District College have a subscription to English and French newspapers. Some students have subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

In [18]:
n = int(input())
n_roll = set(input().split())
b = int(input())
b_roll = set(input().split())

print(len(n_roll.difference(b_roll)))

9
1 2 3 4 5 6 7 8 9
9
11 10 5 4 2 15 20 25 21
6

#14.Set .symmetric_difference() Operation

Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

In [19]:
n = int(input())
n_roll = set(input().split())
b = int(input())
b_roll = set(input().split())

print(len(n_roll.symmetric_difference(b_roll)))

9
1 2 3 4 5 6 7 8 9
9
1 3 5 10 15 12 20 25 21
12

#15. Set .add()

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N country stamps.

Find the total number of distinct country stamps.

In [20]:
n = int(input()) # Takes user input, total no. of stamps
country = set()
for i in range(n):
    country.add(input()) # Country name from where stamps are.

print(len(country))

6
UK
China
France
UK
USA
China
4

#16. Set Mutations

You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A.

Your task is to execute those operations and print the sum of elements from set A.

In [ ]:
n = int(input())
A = set(map(int,input().split()))
N = int(input())

for i in range (N):
    cmd = input().split()
    B = set(map(int, input().split()))
    if cmd[0] == "intersection_update":
        A.intersection_update(B)
    elif cmd[0] == "update":
        A.update(B)
    elif cmd[0] == "symmetric_difference_update":
        A.symmetric_difference_update(B)
    else:
        A.difference_update(B)
        
print(sum(A))

#17. The Captain's Room

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of K members per group where  K ≠ 1 .

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of K and the room number list.

In [25]:
K = int(input())
lst = list(map(int,input().split()))
sets = set()
room = set()
for i in lst:
    if i not in sets:
        sets.add(i)
    else:
        room.add(i)
print(list(sets.difference(room))[0])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

#18. Check Subset

You are given two sets, A and B.
Your job is to find whether set A is a subset of set B.

In [26]:
test = int(input())

for i in range(test):
    n = int(input())
    A = set(input().split())
    b = int(input())
    B = set(input().split())
    
    if len(A.difference(B))==0 :
        print(True)
    else:
        print(False)

3
5
1 2 3 5 6
9
9 8 5 4 3 2 1 7 11
False
1
2
5
3 4 6 5 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

#19. Check Strict Superset

You are given a set A and n other sets.
Your job is to find whether set A is a strict superset of each of the N sets.

Print True, if A is a strict superset of each of the N sets. Otherwise, print False.

A strict superset has at least one element that does not exist in its subset.

In [27]:
A = set(input().split())
n = int(input())

for i in range(n):
    B = set(input().split())
    if not (A.issuperset(B)):
        print(False)
        break
else:
    print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False